.navbar{
    /*FFAC41 323232 FFFFFF*/
    background-color: #FFAC41;
}

.navbar-brand{
    color: #fff;
}



section[id]{
    scroll-margin-top: 80px;
}

body{
    background-color: #323232;
    font-family:'Mooli', sans-serif;
}

.containeraside img.image{
    float: right;
    margin-left: 15px;
}

/*Contenedor del texto y imagen*/
.containeraside{
    width: 70%;
    margin: 20px auto;
    color: #fff;
    padding-top: 65px;
}

/*Tamaño de la imagen*/
.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.card-img-top{
    width: 100px;
    height: 100px;
}

/*Texto del navbar*/
.navbar-nav a.nav-link{
    color: #fff;
    padding: 0px;
}

/*Texto */
.container a.navbar-brand{
    color: #fff;
}

h2{
    text-align: center;
    color: #fff;
}

.card-title p.card-text{
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
}

.seccion{
    width: 100%;
    height: 100vh;
}


.card-body{
    background-color: #010038;
    color: white;
}

.card{
    background-color: #FFAC41;
}

.card-header{
    color: #fff;
}

.card-img-top{
    width: 100px;
    padding: 5px;
}

footer {
    height:10rem;
    line-height:50px;
    background:#323232;
    color:#fff;
    text-align:center;
    left:0;
    
}  
.container-social a{
    font-size: 40px;
    margin: 25px 100px;
    color: #fff;
}

.list-group-item{
    background-color: #FFAC41;
    color: #fff;
}


